@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins';
    color: #494949;
}

main{
    height: 96vh;
    width: 100vw;
    background-color: antiquewhite;
}

@media only screen and (min-width: 850px) {

.web-container{
    width: 80vw;
    height: 96vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.side-left{
    background-image: url(example.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.side-right{
    height: 96vh;
    grid-column: 2;
}

.name-container{
    height: 100%;
    grid-row: 2;
}

.content-container{
    height: 100%;
}

.name-container{
    display: grid;
    grid-template-rows: 1fr 1fr 5fr; 
    text-align: center;
    overflow: hidden;
}

.name-container h1, h2{
    display: inline-block;
}

.name-container h1{
    padding-top: 10vh;
    color: #fff;
}

.name-container h2{
    color: #fff;
}

/*------- SUBTITULOS -*/

.content-container{
    font-size: 1.5em;
    text-align: right;
}

.sobremi{
    margin-right: 1vw;
    margin-top: 5vh;
    display: inline-block;
    cursor: pointer;
}


.experiencia{
    margin-right: 2vw;
    margin-top: 2vh;
    display: inline-block;
    cursor: pointer;
}

.coding{
    margin-right: 2vh;
    margin-top: 1vh;
    display: inline-block;
    cursor: pointer;
}

.coding a{
    text-decoration: none;
}

.portfolio {
    margin-right: 3vw;
    margin-top: 1vh;
    display: inline-block;
    cursor: pointer;
}

.portfolio a{
    text-decoration: none;
}

.contacto{
    margin-right: 1vw;
    margin-top: 4vh;
    display: inline-block;
    cursor: pointer;
}

.sobremi:hover, .experiencia:hover, .coding:hover, .portfolio:hover, .contacto:hover{
    text-decoration:underline;
    text-shadow: 1px 1px 5px #fff;
}

/* ---------- PARRAFOS --------------- */

.sobremi_ext{
    margin-left: 2vw;
    margin-top: 2vh;
}
.experiencia_ext {
    margin-top: 11.5vh;
    margin-left: 1vw;
}

.contacto_ext{
    margin-top: 28vh;
    margin-left: 3vw;
}

}


@media only screen and (max-width: 849px){

    *{
        color: black;
    }

    main{
        position:static;
        height: min-content;
    }

    .web-container{
        position: relative;
        background-image: url(example.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .7;
    }

    .side-left{
        position: relative;
        width: 100%;
        height: 95vh;
    }

    .name-container{
        text-align: center;
        padding-bottom: 2vh;
    }

    .content-container{
        text-align: left;
        font-size: 2em;
        padding-left: 5vw;
    }

    .side-right{
        position: relative;
        top: -5vh;
        padding-left: 2vw;
        height: fit-content:
    }

    .sobremi_ext{
        position:relative;
        top: -73vh
    }

    .experiencia{
        padding-top: 6vh;
    }

    .experiencia_ext{
        position: relative;
        top: -67vh;
    }

    .portfolio{
        padding-top: 55vh;
    }

    .contacto_ext{
        position: relative;
        top: -40vh;
        padding-left: 4vh;
    }

}


/* FOOTER */

footer p{
    text-align: center;
}

