*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

@font-face{
    font-family: 'Barriecito-Regular.ttf';
    src: url(Barriecito-Regular.ttf)
}

html{
    font-size: 10px;
}

body{
    margin: auto;
}


@media only screen and (max-width:600px){

    header{
        text-align: right;
        font-size: 4rem;
        margin: auto;
        height: 10vh;
    }

    .contenedor{
        background-color: antiquewhite;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto auto auto;
        grid-template-areas: "titulo"
                             "aboutme"
                             "experiencie"
                             "photography"
                             "coding"
                             "contactme";
        height: max-content;
    }

    .titulo{
        grid-area: titulo;
        font-family: 'Barriecito-Regular.ttf';
        text-align: center;
        transform: rotate(-1deg);
    }
        .titulo .nombre{
            background-color: #FC3B00;
            font-size: 9rem;
            padding: 0 .5em 0 .5em;
            width: max-content;
            margin: auto;
            box-shadow: 2px 2px #000;
            transform: rotate(-1deg);
        }
        .titulo .apellido{
            background-color: #FCE700;
            font-size: 6rem;
            padding: 0 .5em 0 .5em ;
            width: max-content;
            margin: auto;
            box-shadow: 2px 2px #000;
        }

    .contenedor :nth-child(n){
        font-family: 'Barriecito-Regular.ttf';
        text-align: center;
        margin: auto;
        box-shadow: 2px 2px #000;
    }
        .contenedor .aboutme{
            grid-area: aboutme;
            font-size: 6rem;
            background-color: #FC0089;
            padding: .1em .5em;
            margin-top: .1em;
        }
        .contenedor .experiencie{
            grid-area: experiencie;
            font-size: 5rem;
            background-color: #004DFB;
            transform: rotate(-1.2deg);
            padding: .1em .2em;
        }
        .contenedor .photography{
            grid-area: photography;
            background-color: #267F0B;
             font-size: 6.5rem;
             padding: 0 .5em;
             transform: rotate(.5deg);
        }
        .contenedor .coding{
            grid-area: coding;
            background-color: #EF4F01;
            font-size: 6.5rem;
            padding: .2em .5em;
            transform: rotate(-1.5deg);
        }
        .contenedor .contactme{
            grid-area: contactme;
            background-color: #0086EF;
            font-size: 5rem;
            padding: .2em 1em;
        }

        .exp, .contactme_exp{
            visibility: hidden;
            position: absolute;
        }
    
        footer{
            height: 5vh;
            bottom: 0;
            text-align: center;
            width: 100%;
        }
    
    }